.swiper-container {
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  height: 100%;
}
.swiper-container .swiper-wrapper {
  height: 100%;
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  transition: transform 1s;
  -webkit-transition: -webkit-transform 1s;
}
.swiper-container .swiper-wrapper .swiper-group {
  padding: 0;
  width: 100%;
  height: 100%;
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.swiper-container .swiper-wrapper .swiper-group .swiper-item {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.swiper-container .swiper-wrapper .swiper-group .swiper-item img {
  width: 100%;
  height: 100%;
}
