.swiper-container {
  overflow: hidden;
  white-space nowrap
  font-size 0
  height: 100%;

  .swiper-wrapper {
    height: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;

    .swiper-group {
      padding: 0;
      width: 100%;
      height: 100%;
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);

      .swiper-item {
        display: inline-block;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

}